* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

nav .dropdown ul li a {
  color: white;
}

.dropdown .btn:hover {
  color: white;
}

.dropdown-item:hover {
  background-color: #9eddff;
}

/* .dropdown .btn:active {
  color: white;
  background-color: white;
} */

.contentBerita {
  width: 100%;
  height: 100vh;
  margin-top: 30px;
  background-color: #6499e9;
}

.contentBerita h1 {
  display: flex;
  justify-content: center;
  color: white;
  padding: 40px;
  /* border: 1px solid black; */
}

.contentJurusan {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.contentJurusan h1 {
  display: flex;
  justify-content: center;
  color: black;
  padding: 40px;
  /* border: 1px solid black; */
}

.contentBerita a {
  width: 250px;
  max-height: 400px;
  text-decoration: none;
}

.card {
  width: 250px;
  max-height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* border: 1px solid red; */
}

.card-img-top {
  max-width: 100%;
  max-height: 150px;
  background-size: cover;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border: 1px solid red; */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #6499e9;
}

footer .keterangan {
  color: white;
  margin: 30px;
  margin-bottom: 0;
}

footer .keterangan h3 {
  margin-top: 20px;
}

footer .map {
  display: flex;
  justify-content: center;
  margin: 20px;
}

footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #595959;
}

footer .footer p {
  margin: auto;
  color: white;
}

/* visi misi */
.hero {
  position: relative;
  margin-bottom: 90px;
}

.hero img {
  display: block;
  width: 100%;
  height: 75vh;
  object-fit: cover;
  background-size: cover;
}

.hero h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
}

.keteranganVisi {
  padding: 0 30px;
}

.keteranganVisi .judulUtama {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.keteranganVisi .judulVisi {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.keteranganVisi .keteranganVisiMisi {
  padding-left: 15px;
  padding-bottom: 10px;
}

/* #right-sidebar {
  margin: -10;
  border: 1px solid red;
} */

#right-sidebar .sidebar {
  /* display: inline-block; */
  width: 400px;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

#right-sidebar h2 {
  font-size: 30px;
}

#right-sidebar ul li {
  max-width: 300px;
  list-style: none;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}

#right-sidebar ul li a {
  text-decoration: none;
  color: #1f6e8c;
}

#right-sidebar ul li a:hover {
  text-decoration: underline;
}

/* Identitas Sekolah */
.keteranganSekolah {
  padding: 0 30px;
  /* border-right: 1px solid black; */
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.table th {
  border-right: 1px solid grey; /* Garis pada sisi kanan kolom data */
  border-left: 1px solid grey; /* Garis pada sisi kiri kolom keterangan */
}

.table td {
  border-left: 1px solid grey; /* Garis pada sisi kiri kolom data */
  border-right: 1px solid grey; /* Garis pada sisi kanan kolom data */
}

.judulTabel {
  border: 2px solid black;
}

/* Fasiltas Start */
.keteranganFasilitas {
  padding: 0 30px;
}

.judulFasilitas {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.keteranganFasilitas .keteranganFasilitasSekolah {
  padding-left: 15px;
  padding-bottom: 10px;
}

.keteranganFasilitasSekolah p {
  line-height: 30px;
}

/* Fasiltas End */

/* Struktur Sekolah start */
.keteranganStruktur {
  display: flex;
  justify-content: center;
}

.gambarStruktur {
  justify-content: center;
  padding: 5px 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 25px;
}

.gambarStruktur img {
  width: 700px;
  height: 400px;
}
/* Struktur Sekolah end */

/* Guru start */
.judulGuru {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.keteranganGuru p {
  padding: 5px 20px;
  line-height: 30px;
}
/* Guru end */

/* Galery */
.keteranganStruktur {
  display: flex;
  flex-direction: column;
}

.gambarGalery {
  justify-content: center;
  padding: 5px 20px;
  margin: 10px;
  /* border: 1px solid black; */
  border-radius: 25px;
}

.gambarGalery img {
  width: 700px;
  height: 400px;
}

.keteranganStruktur p {
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
/* Galery end */
